@use '@/styles/_mixins.scss';

.header {
    height: 60px;
    line-height: 60px;
    padding: 0 30px;
    background-color: #dfe6e9;
    @include mixins.flex-box(space-between);

    .app-name {
        font-weight: bold;
    }
}

.main {
    display: flex;
    height: calc(100vh - 60px);

    .nav {
        width: 200px;
        flex-shrink: 0;
        background-color: #9fa9b3;
    }

    .content {
        flex: 1 1;
        width: calc(100vw - 200px);
    }
}

.link {
    height: 30px;
    padding: 20px;
    color: #30336b;
    display: inline-block;
    @include mixins.flex-box
}